<%- include('partials/headerAdmin') %>
<section class="container text-center box">
  <h2  class="title-index">Welcome to Admin-Dashboard</h2>
  <p class="para">This is the Admin Dashboard. <span class="red">Access is restricted only to authorized administrators.</span> To access the admin site or register, you need a valid SwiftShop.com Admin ID.</p>
</section>
<%- include('partials/footer') %>
