<%- include('partials/headerAdmin') %>
<section class="container text-center main-box">
  <h2  class="dashboard-title">Welcome to Admin-Dashboard</h2>
  <p>This is the Admin Dashboard. <span class="red">Access is restricted only to authorized administrators.</span> To access the admin site or register, you need a valid Wisdom.com Admin ID.</p>
</section>
<%- include('partials/footer') %>