<%- include('partials/header') %>
<section class="container text-center main-box">
    <div>
        <h1>Welcome To Wisdom.com</h1>
        <p>Expand your knowledge by listening to our curated content at Wisdom.com.</p>
    </div>
</section>
<%- include('partials/footer') %>
