<%- include('partials/header') %>
<section class="container text-center main-box">
  <h2>Unauthorized Access</h2>
  <p>Please Upgrade Your Plan to Premium to enjoy this Podcast</p>
</section>
<%- include('partials/footer') %>